[
 {rabbit,
  [
   {cluster_nodes, {['rabbit@rmq1',
                     'rabbit@rmq2',
                     'rabbit@rmq3'], disc}},
   {cluster_partition_handling, autoheal}
  ]
 },

 {rabbitmq_management,
  [
   {load_definitions, "/var/lib/rabbitmq/definitions.json"}
  ]}
].

%% Local Variables:
%% mode: erlang
%% End:
